services:
  jellyfin-dev:
    image: jellyfin/jellyfin:10.11.6
    container_name: shirarium-jellyfin-dev
    ports:
      - "8097:8096"
    volumes:
      - ./data/jellyfin/config:/config
      - ./data/jellyfin/cache:/cache
      - ./data/media:/media
      - ./artifacts/plugin:/config/plugins/Shirarium
